Source: adl2edl
Section: contrib/admin
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Uploaders: Ralph Lange <Ralph.Lange@gmx.de>
Build-Depends: debhelper (>= 7), libmotif-dev, libx11-dev, libxp-dev, libxmu-dev, libxtst-dev
Standards-Version: 3.9.5
Homepage: http://ics-web.sns.ornl.gov/adl2edl/log/show.php

Package: adl2edl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Converts MEDM files to EDM files
 Automatically convert MEDM's .adl files to EDM's .edl files
