Source: adl2edl
Section: contrib/admin
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), libmotif-dev, libx11-dev, libxp-dev, libxmu-dev, libxtst-dev
Standards-Version: 3.8.0
Homepage: http://ics-web.sns.ornl.gov/edm/

Package: adl2edl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Converts MEDM files to EDM files
 Automatically convert MEDM's .adl files to EDM's .edl files
