#!/usr/bin/make -f
# -*- makefile -*-

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)

export DH_VERBOSE=1

%:
	dh "$@"

override_dh_auto_clean:
	rm -f Makefile*
	dh_auto_clean
